<!doctype html>
<html>

<head>
    <title>StarWars</title>
    <link rel="stylesheet" type="text/css" href="index.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
</head>

<body ng-app="SWapp">
    <h1> StarWars </h1>
    <div ng-controller="CharactersCtrl">
        <div>
            <h2>Add New Character</h2>
            <form ng-submit="addCharacter(name, height, mass, hair_color, skin_color, eye_color, birth_year, selected_gender)">
                Name :
                <input type="text" ng-model="name" placeholder="Name" />
                <br> Height :
                <input type="text" ng-model="height" placeholder="Height" />
                <br> Mass :
                <input type="text" ng-model="mass" placeholder="Mass" />
                <br> Hair Color :
                <input type="text" ng-model="hair_color" placeholder="Hair Color" />
                <br> Skin Color :
                <input type="text" ng-model="skin_color" placeholder="Skin Color" />
                <br> Eye Color :
                <input type="text" ng-model="eye_color" placeholder="Eye Color" />
                <br> Birth Year :
                <input type="text" ng-model="birth_year" placeholder="Birth Year" />
                <br> Gender :
                <select ng-model="selected_gender" ng-options="gender for gender in genders"></select>
                <br>
                <input type="submit" id="submit" value="Add New Character" />
            </form>
        </div>
        <div>
            <table>
                <tr>
                    <th>Name </th>
                    <th>Height</th>
                    <th>Mass</th>
                    <th>Hair Color</th>
                    <th>Skin Color</th>
                    <th>Eye Color</th>
                    <th>Birth Year</th>
                    <th>Gender</th>
                    <th>Make this Character Your Favourite</th>
                    <th>Delete The Character</th>
                    <th>Edit The Character</th>
                </tr>
                <br>
                <div>
                    <h2>Search</h2>
                    <input type="text" ng-model="search_text" placeholder="Enter Text to search" class="input-style" />
                </div>
                <br>
                <h2>Characters</h2>
                <tr ng-repeat="character in characters | filter:search_text | orderBy:'name'" id="table_content">
                    {{character}}
                    <td> {{character.name }}</td>
                    <td> {{character.height }}</td>
                    <td> {{character.mass }}</td>
                    <td> {{character.hair_color }}</td>
                    <td> {{character.skin_color }}</td>
                    <td> {{character.eye_color }}</td>
                    <td> {{character.birth_year }}</td>
                    <td>
                        <span ng-show="character.is_male">Male</span>
                        <span ng-show="!character.is_male">Female</span>
                    </td>
                    <td>
                        <span ng-show="character.favorite"><img src="./images/red_heart.png" height="42" width="42" ng-click="toggleFav(character)"></span>
                        <span ng-show="!character.favorite"><img src="./images/empty_heart.png" height="42" width="42" ng-click="toggleFav(character)"></span>
                    </td>
                    <td>
                        <button class="styled-text" ng-click="deleteCharacter(character)" id="{{character.name}}Delete">Delete</button>
                    </td>
                    <td>
                        <button class="styled-text" ng-click="open()" ng-show="!showModal" id="{{character.name}}Edit">Edit</button>
                        <div modal="showModal" ng-show="showModal">
                            <span class="modal-header">
                                    <span class="styled-text">Name</span>:
                            <input type="text" ng-model="character.name" placeholder="Name" class="styled-text" />
                            <span class="styled-text">Height</span>:
                            <input type="text" ng-model="character.height" placeholder="Height" class="styled-text" />
                            <span class="styled-text">Mass</span>:
                            <input type="text" ng-model="character.mass" placeholder="Mass" class="styled-text" />
                            <span class="styled-text">Hair Color</span>:
                            <input type="text" ng-model="character.hair_color" placeholder="Hair Color" class="styled-text" />
                            <span class="styled-text">Eye Color</span>:
                            <input type="text" ng-model="character.eye_color" placeholder="Eye Color" class="styled-text" />
                            <span class="styled-text">Birth Year</span>:
                            <input type="text" ng-model="character.birth_year" placeholder="Birth Year" class="styled-text" />
                            <span class="styled-text">Gender</span>:
                                <select class="form-control" ng-model="character.is_male">
                                    <option ng-selected="character.is_male == true">Male</option>
                                    <option ng-selected="character.is_male == false">Female</option>
                                </select>
                            </span>
                            <span class="modal-footer">
                                    <button class="btn btn-success" ng-click="ok(character)" class="styled-text" id="ok{{character.eye_color}}">Okay</button>
                                </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>